body {
    background: peachpuff;
  }
  * {
    border: 1px solid teal;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 50vh;
    text-align: center;
  }
  .a {
    grid-column: 1/4;
  }
  .h {
    grid-column: 1/4;
    grid-row: 4/7;
  }
  
  @media (min-width: 600px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      min-height: 50vh;
      text-align: center;
    }
    .a {
      grid-column: 1/5;
    }
    .h {
      grid-column: 4/5;
      grid-row: 2/4;
    }
  }